.app_div{
  min-height: 100vh;
  background-color: black;
  padding: 30px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading{
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 180%;
  text-transform: capitalize;
}

.tablefull{
  margin: 48px auto;
  background: #f8f8f8;
  max-width: 75%;
  line-height: 1.4;
  border: solid black;
  border-radius: 20px;
  padding: 5px;
}

img{
  width: 30%;
  margin-left:35%;
}

a > img{
  width: 20%;
  margin: 0px;
}

.comparison-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.comparison-table th,
.comparison-table td {
  padding: 8px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.comparison-table th:first-child {
  border: 0;
}

.comparison-table th:nth-child(2n) {
  box-shadow: 0 0 32px hsla(0, 0%, 0%, 0.15);
}

.comparison-table th:nth-child(2n),
.comparison-table td:nth-child(2n) {
  position: relative;
  background: #fff;
}

.comparison-table td:not(:first-child) {
  text-align: center;
}

@media (min-width: 768px) {
  .comparison-table {
    font-size: 14px;
  }
  
  .comparison-table th,
  .comparison-table td {
    padding: 16px;
  }
}

@media (min-width: 960px) {
  .comparison-table {
    font-size: 16px;
  }
  
  .comparison-table th,
  .comparison-table td {
    padding:24px 32px;
  }
}